.App {
  max-width: 700px;
  width: 100%;
  background-color: #000000;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom:100px;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #fff;
}

.encabezado {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
  border-bottom: 2px solid #ccc;
  color: #fff;
  font-weight: bold;
}

/* Ajustamos columnas en encabezado para que coincidan con Producto */
.encabezado .col-nombre {
  flex-basis: 50%;
  text-align: left;
}

.encabezado .col-precio {
  flex-basis: 25%;
  text-align: left;
}

.encabezado .col-stock {
  flex-basis: 15%;
  text-align: left;
}

/* Nueva columna encabezado para control de cantidad */
.encabezado .col-cantidad-control {
  flex-basis: 10%;
  text-align: center;
}
.total-general {
  margin-top: 2rem;
  text-align: right;
  color: #fff;
}

.total-general h2 {
  font-size: 1.3rem;
  margin: 0.3rem 0;
}
.total-flotante {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.2);
}
