.producto-fila {
  display: grid;
  grid-template-columns: 40% 15% 20% 15% 10%;
  align-items: center;
  padding: 0.75rem 0;
  border-bottom: 1px solid #616161;
  color: #fff;
  font-size: 1rem;
}

.columna-nombre {
  text-align: left;
}

.columna-precio {
  text-align: right;
  padding-right: 1rem;
}

.columna-stock {
  text-align: center;
  font-size: 0.9rem;
}

.columna-controles {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.columna-extra {
  display: flex;
  justify-content: center;
}

button {
  background-color: #333;
  color: #fff;
  border: 1px solid #777;
  padding: 0.3rem 0.7rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.disponible {
  color: rgb(146, 219, 146);
  font-weight: bold;
}

.sin-stock {
  color: rgb(233, 89, 89);
  font-weight: bold;
}

.cantidad-seleccionada {
  margin: 0 0.5rem;
  font-weight: bold;
}

.boton-reset {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.boton-reset:hover {
  background-color: #e60000;
}
